
<section>

    <div class="listorder">

        {{#each data}}

            <div class="card">
                <img src="/uploads/{{this.roomPic}}" alt="room image" class="card-image">    
                <p class="card-title">
                {{this.title}}
                </p>
                <p class="card-description">
                {{this.description}}
                </p>
                <p class="card-price">
                    Price : ${{this.price}}
                </p>
                <p class="card-rate">
                Rate : {{this.rate}}
                </p>
                
                <a href="/editroom/edit/{{this.id}}"><input type="button" value="Edit" class="book"></a>


            </div>
        {{/each}}
        
    </div>
       

</section>