<section>
  <div class="background">
    <div class="container">
      <div class="heading">
      <h1>Book unique places to stay<br> and things to do.</h1>
    </div>
    <div>
      <form class="search-form">

      <div class="field">
      <label for="where"><b>Where</b></label>
      <input list="browsers" placeholder="Anywhere" name="where" class="drop" required>
        <datalist id="browsers">
          <option value="Toronto">
          <option value="Ottawa">
          <option value="Quebec City">
          <option value="Monteral">
          <option value="Vancouver">
        </datalist>
      </div>

      <div class="field">
      <label for="checkin"><b>Check-In</b></label>
      <input type="date" placeholder="dd-mm-yyyy" name="checkin">

      
      <label for="checkout"><b>Check-Out</b></label>
      <input type="date" placeholder="dd-mm-yyyy" name="checkout">
      </div>

      <div class="field">
      <label for="guests"><b>Guests</b></label>
      <input type="text" placeholder="Guests" name="guests">
      </div>

      <input type="submit" class="searchbtn" value="Search">
      </form>
    </div>
    </div>
  </div>
</section>

<section>
  <div class="part">
      <h1>Feature Room</h1>
  </div>
  <div  class="listorder">

    {{#each products}}

      <div class="card">
        <img src="{{this.image}}" alt="room image" class="card-image">    
        <p class="card-type">
          {{this.type}}
        </p>
        <p class="card-title">
          {{this.title}}
        </p>
        <p class="card-description">
          {{this.description}}
        </p>
        <p class="card-price">
          Price : ${{this.price}}
        </p>
        <p class="card-rate">
          Rate : {{this.rate}}
        </p>
        <input type="button" value="BOOK NOW" class="book">


      </div>

    {{/each}}
        
   </div>

</section>

<section>
  <div class="part">
    <h1>Explore AirPnP</h1>
  </div>

  <div class="explore">
    <section class="card">
    <div>
      <img src="images/ad1.jpg" alt="Stays"  width="100%">  
    </div>
    <div>
      <p class="explorename"><strong>Stays</strong></p>
    </div>
    </section>

    <section class="card">
      <div>
        <img  src="images/ad2.jpg" alt="Experiences" height="100%" width="100%">  
      </div>
      <div>
        <p class="explorename"><strong>Experiences</strong></p>
      </div>
    </section>

    <section class="card">
    <div>
      <img  src="images/ad3.jpg" alt="Adventures" height="100%" width="100%">  
    </div>
      <div>
        <p class="explorename"><strong>Adventures</strong></p>
      </div>
    </section>
  </div>
</section>





        