<section>
    <h1 class="title">Rooms listing</h1>
    <p class="note1">Additional fees apply. Taxes may be added</p>
    <h2 class="note2">
        300+ places to stay
    </h2>
    <div class="listorder">

        {{#each data}}

            <div class="card">
                <img src="/uploads/{{this.roomPic}}" alt="room image" class="card-image">    
                <p class="card-title">
                {{this.title}}
                </p>
                <p class="card-description">
                {{this.description}}
                </p>
                <p class="card-price">
                    Price : ${{this.price}}
                </p>
                <p class="card-rate">
                Rate : {{this.rate}}
                </p>
                <input type="button" value="BOOK NOW" class="book">

            </div>
        {{/each}}
        
    </div>
       

</section>
